* {
  box-sizing: border-box;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/subset-PTSans-Bold.woff2') format('woff2'),
        url('../fonts/subset-PTSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Prata';
    src: url('../fonts/subset-Prata-Regular.woff2') format('woff2'),
        url('../fonts/subset-Prata-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/subset-PTSans-Regular.woff2') format('woff2'),
        url('../fonts/subset-PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: prata, serif;
    color: #f9fcfc;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    margin: 0;
}

h2 {
    font-family: prata, serif;
    color: #f9fcfc;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    margin: 0;
}

p {
    font-family: PT Sans, sans-serif;
    color: #f9fcfc;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

a {
    text-decoration: none;
    font-family: PT Sans, sans-serif;
    font-size: 16px;
}

span {
    font-family: PT Sans, sans-serif;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

h3 {

  font-family: PT Sans;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

body {
    margin: 0px;
}

.wrapper {
    margin: 0 auto;
    width: 320px;
}

.header {
    position: relative;
    margin-bottom: 90px;
}

.head_container_1280 {
    /*display: none;*/
}

.intro-block {
    background: url(../img/bg_main_320.jpg);
    background-repeat: no-repeat;
    margin-bottom: 33px;
    min-height: 570px}

.burger {
    position: absolute;
    width: 22px;
    height: 24px;
    border: none;
    top: 24px;
    right: 17px;
    background-color: transparent;
    transform: rotate(90deg);
}

.burger:before,
.burger:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 2px;
  background-color: #fff;

}
.burger:before {
  top: 0;
}

.burger:after {
  bottom: 0;
}

.burger_inner:before,
.burger_inner:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.burger-open .burger_inner:before {
  transform: rotate(45deg);
  width: 110%;
}

.burger-open .burger_inner:after {
  transform: rotate(135deg);
  width: 110%;
}

.burger-open:before,
.burger-open:after {
  opacity: 0;
}

.logo {
    margin: 24px 0px 0px 16px;
    position: absolute;
    z-index: 1000;
}

.mobile-menu {
    width: 100%;
}

.main_nav { 
    display: none;
    position: absolute;
    width: 100%;
    height: 225px;
    background-color: #000; 
}

.main_nav_link {
    letter-spacing: 0em;
    font-weight: normal;
}

.main_nav_list {
    width: 125px;      
    display: flex;
    flex-wrap: wrap;
    list-style: none;    
    line-height: 35px;   
    margin-top: 70px;
    padding-left: 17px;
    
}
.main_nav_list_item {

}

.main_nav_list_item  a{
    text-decoration: none;    
    color: #fff;
}

.headline {
    margin: 0px 0px 10px 17px;
    padding-top: 140px;
}

 .headline_1280 {
    display: none;
}

.wewill {
    margin: 0px 0px 80px 17px;
    width: 200px;
}

.pre-lesson {
    background-color: #eec643;
    width: 288px;
    height: 60px;
    margin: 0px 0px 33px 17px;
    border: none;
}

.mus-grow {
    width: 290px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.mus-grow_1280 {
    display: none;
}

.mus-grow_title {
    color: #021a23;
    margin: 0px 0px 12px 0px;
    width: 235px;
    border-top: 1px solid #eec643;
    border-bottom: 1px solid #eec643;
}

/*.mus-grow_title::before, .mus-grow_title::after {
    content: "";
    display: inline-block;
    width: 228px; height: 1px;
    background-image: url(../img/Rectangle1.jpg);
    background-size: 100%;
}*/

.features_1280 {
    display: none;
}

.idols-singer {
    width: 288px;
    height: 144px;
    background: url(../img/idols-singer320.jpg);
    background-repeat: no-repeat;
    margin: 0px 0px 16px 0px;
}

.idols-guitar {
    width: 288px;
    height: 144px;
    background-image: url(../img/idols-guitar320.jpg);
    margin: 0px 0px 16px 0px;
}

.idols-piano {
    width: 212px;
    height: 144px;
    background-image: url(../img/idols-piano320.jpg);
    margin: 0px 0px 16px 0px;
}

.card-inner {
    width: 203px;
}

.card-text{
    padding: 31px 0px 0px 11px;
}

.everyway-btn {
    background-color: #eec643;
    width: 144px;
    height: 60px;
    margin: 0px 0px 0px 0px;
    position: relative;
    border: none;
    transform: rotate(-90deg);
    transform-origin: bottom;
    right: -4px;
    top: 12px;
}

.everyway-btn_temp {
    background-color: #eec643;
    width: 144px;
    height: 60px;
    margin: 0px 0px 0px 0px;
    position: relative;
    border: none;
    transform: rotate(-90deg);
    transform-origin: bottom;
    right: -4px;
    top: 12px;
}

.row_with_btn_mus-grow {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.row_with_btn_temp {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.everyway-text {
    color: #000;
    width: 115px;
    margin: 0px 0px 0px 14px;
    text-align: left; 
}

.temp {
    width: 290px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.temp_title {
    color: #021a23;
    margin: 0px 0px 12px 0px;
    width: 235px;
    border-top: 1px solid #eec643;
    border-bottom: 1px solid #eec643;
}

/*.temp_title::before, .temp_title::after {
    content: "";
    display: inline-block;
    width: 228px; height: 1px;
    background-image: url(../img/Rectangle1.jpg);
    background-size: 100%;
}*/

.crew {
    width: 288px;
    height: 144px;
    background: url(../img/advantages_card_img_1_320.jpg);
    background-repeat: no-repeat;
    margin: 0px 0px 16px 0px;
}

.result {
    width: 288px;
    height: 144px;
    background-image: url(../img/advantages_card_img_2_320.jpg);
    margin: 0px 0px 16px 0px;
}

.studio {
    width: 212px;
    height: 144px;
    background-image: url(../img/advantages_card_img_3_320.jpg);
    margin: 0px 0px 16px 0px;
}

.everyway-text_white {
    width: 115px;
    margin: 0px 0px 0px 14px;
    text-align: left; 
}

.video_inner_wrapper {
    position: relative;
}

.video_inner_text {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.wall {
    width: 290px;
    margin: 0 auto 30px;
}

.wall_title {
    width: 230px;
    color: #021a23;
    margin: 0px 0px 12px 0px;
    border-top: 1px solid #eec643;
    border-bottom: 1px solid #eec643;
}

/*.wall_title::before, .wall_title::after {
    content: "";
    display: inline-block;
    width: 228px; height: 1px;
    background-image: url(../img/Rectangle1.jpg);
    background-size: 100%;
}*/

.video_1280 {
    display: none;
}

.end-show_1280 {
    display: none;
}

.arrow_hook:before{
    content: ''; 
    position: absolute; 
    top: 25%;
    left: 35%;
    transform-origin: center;
    border: 30px solid transparent;
    border-left: 40px solid #eec643;
}

.wait {
    width: 290px;
    margin: 0 auto;
}

.wait_title {
    width: 235px;
    color: #021a23;
    margin: 0px 0px 12px 0px;
    border-top: 1px solid #eec643;
    border-bottom: 1px solid #eec643;
}

.contacts {
    color: #000;
}

.map {
    width: 290px; 
    height: 290px
}

.light-form_bottom {
    display: none;
}

.light-form {
    display: none;
}

.pre-lesson_bottom {
    background-color: #eec643;
    width: 288px;
    height: 60px;
    margin: 20px auto;
    border: none;
}

.order_change {
    display: flex;
    flex-direction: column-reverse;
    width: 290px;
    margin: 0px 0px 10px 5px;
}



/*.wait_title::before, .wait_title::after {
    content: "";
    display: inline-block;
    width: 228px; height: 1px;
    background-image: url(../img/Rectangle1.jpg);
    background-size: 100%;
}*/

/*===============CSS for 1280===============*/

@media (min-width: 1280px) { 

h1 {
    font-family: prata, serif;
    color: #f9fcfc;
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
}

h2 {
    font-family: prata, serif;
    color: #f9fcfc;
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
}

h3 {

  font-family: PT Sans;
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

p {
    font-family: PT Sans, sans-serif;
    color: #f9fcfc;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
}

span {
    font-family: PT Sans, sans-serif;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

a {
    text-decoration: none;
    font-family: PT Sans, sans-serif;
    font-size: 16px;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
}

 .intro-block { 
    width: 1280px;
    min-height: 770px;
    background-image: url(../img/bg_main.jpg);
 }

 .header {
    display: inline-block;
    margin: 0px 0px 205px 0px;
 }

 .head_container_1280 {
    display: inline-flex;
    margin: 30px 0px 0px 425px;
}

.headline {
    display: none;
}

.headline_1280 {
    width: 700px;
    display: inline-block;
    font-size: 55px;
    line-height: 55px;
    margin: 0px 0px 20px 55px;
}

.logo {
    margin: 33px 0px 0px 53px;
}

.burger {
    display: none;
}

.main_nav { 
    margin: 0px 0px 0px 0px;
    width: 1170px;
    display: flex;  
    background-color: transparent;
    justify-content: flex-end;
}

.main_nav_link {
    letter-spacing: 0em;
    font-weight: normal;
}

.main_nav_list {
    width: 470px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 40px -80px 0px 0px;    
    
}
.main_nav_list_item {
    margin-right: 28px; 
}

.main_nav_list_item  a{
    text-decoration: none;    
    color: #000;
}

.wewill {
    margin: 0px 0px 80px 55px;
    width: 430px;
}

.pre-lesson {
    margin: 0px 0px 0px 55px;
    display: none;
}

.big_col {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 100px;
}

.mus-grow {
    display: none;
}

.mus-grow_1280 {
    display: flex;
    width: 1170px;
    min-height: 570px;
    margin: 0 auto 90px;
}

.mus-grow_title {
    color: #021a23;
    width: 553px;
    border-top: 1px solid #eec643;
    border-bottom: 1px solid #eec643;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    position: absolute;
    padding: 10px;
    bottom: 0;
    left: 70px;
}

.col1 {
    position: relative;
}

.col2  {
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.col3 {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: calc(45% - 15px);
}

.big_col_bottom {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.idols-guitar {
    width: calc(45% - 15px);
    min-height: 270px;
    background-image: url(../img/idols-guitar1280.jpg);
    margin: 0px 0px 0px 0px;
}

.idols-singer {
    width: calc(55% - 15px);
    min-height: 270px;
    background: url(../img/idols-singer1280.jpg);
    background-repeat: no-repeat;
    margin: 0px 0px 0px 0px;
}

.idols-piano {
    width: 100%;
    min-height: 270px;
    background-image: url(../img/idols-piano1280.jpg);
    margin: 0px 0px 0px 0px;
}

.row_with_btn_temp {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    width: calc(50% - 15px);
    height: 100%;
}

.row_with_btn_mus-grow {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: calc(55% - 15px);
    min-height: 270px;
}


.lessons {
    width: calc(50% - 15px);
    min-height: 270px;
    background-image: url(../img/lessons1280.jpg);
}

.card-inner {
    margin: 10px 0 0 31px;
    width: 250px;
}

.card-inner_temp {
    margin: 10px 0 0 31px;
    width: 225px;
}

.card-text{
    padding: 0px 0px 0px 0px;
}

.h3_guitar {
    margin-bottom: 10px;
}

.p_guitar {
    margin-bottom: 45px;
}

.everyway-btn {
    background-color: #eec643;
    margin: 0px 0px 0px 0px;
    position: relative;
    border: none;
    transform: rotate(0deg);
    transform-origin: bottom;
    width: calc(50% - 15px);
    min-height: 270px;
    right: 0;
    top: 0;
}


.everyway-text {
    color: #000;
    width: 115px;
    margin: 0px 0px 0px 14px;
    text-align: left; 
}

.features_360 {
    display: none;
}

.features_1280 {
    display: inline;
}

.temp {
    width: 1170px;
    margin: 0 auto 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.temp-col1 {
    display: flex;
    flex-wrap: wrap;
    width: calc(50% - 15px);
    justify-content: space-between;
}

/*.temp-col2 {
    display: flex;
    flex-wrap: wrap;
    width: calc(50% - 15px);
    justify-content: space-between;
}
*/
.temp_title {
    width: 100%;
    margin-bottom: 28px;
    padding: 5px 0px 5px 20px;
}

.crew {
    min-height: 470px;
    width: calc(50% - 15px);
    /*height: 144px;*/
    background: url(../img/advantages_card_img_1_1280.jpg);
    background-repeat: no-repeat;
    margin: 0px 0px 0px 0px;
}

.result {
    min-height: 470px;
    width: calc(50% - 15px);
    /*height: 144px;*/
    background-image: url(../img/advantages_card_img_2_1280.jpg);
    margin: 0px 0px 0px 0px;
}

.studio {
    min-height: 570px;
    width: calc(50% - 15px);
    /*height: 144px;*/
    background-image: url(../img/advantages_card_img_3_1280.jpg);
    margin: 0px 0px 0px 0px;
}

/*.light-form {
    min-height: 470px;
    width: 47%;
    display: block;
    border: 3px solid orange;
}*/

.light-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(50% - 15px);
    min-height: 570px;
    border: 2px  solid #eec643;
    margin: 0 auto;
    margin-right: 0;
}

.light-form_bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 570px;
    border: 2px  solid #eec643;
    margin: 0 auto;
    margin-right: 0;    
}

.form_inner {
    padding: 30px;
}

.form_inner_title {
    color: #eec643;
}

.form_inner_text-area {
    font-family: PT Sans, sans-serif;
    color: #000;
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 190px;
}

.input_name {
    background-color: #fbf8eb;
    border: 0px solid #000;
    border-bottom: 2px solid #eec643;
    width: 100%;
    padding-top: 25px;
    background-color: #fff;
}

.input_tel {
    background-color: #fbf8eb;
    border: 0px solid #000;
    border-bottom: 2px solid #eec643;
    width: 100%;
    padding-top: 25px;
    background-color: #fff;
}

.select_direction {
    background-color: #fbf8eb;
    border: 0px solid #000;
    border-bottom: 2px solid #eec643;
    width: 100%;
    padding-top: 25px;
    background-color: #fff;
}

.pre-lesson_form_btn {
    background-color: #eec643;
    width: 100%;
    height: 60px;
    margin: 0px 0px 0px 0px;
    border: none;
    display: block;
}

.everyway-btn_temp {
    display: none;
}

/*input[type=text] {
    display: none;
}

label:before {
    content=''
    display: block;
    width: 25px;
    height: 2px;
    border-bottom: 3px solid orange;
}
*/

.wall {
    display: none;
}

.video_1280 {
    display: flex;
    flex-wrap: wrap;
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 90px;
}

.video_1280_title {
    color: #021a23;
    width: 569px;
    border-top: 1px solid #eec643;
    border-bottom: 1px solid #eec643;
    transform: rotate(-90deg);
    transform-origin: left top;
    position: absolute;
    margin-top: 568px;
    padding: 5px;
}

.end-show_1280 {
    display: block;
}

.end-show_360 {
    display: none;
}

.video_inner_wrapper {
    position: relative;
}

.video_inner_text {
    color: #fff;
    position: absolute;
    width: 230px;
    top: 25px;
    left: 30px;
    font-size: 10px;
}

.video_inner_text_small {
    color: #fff;
    position: absolute;
    width: 230px;
    bottom: 10px;
    left: 15px;
    font-size: 10px;
}

.video_inner_text_small-title {
    font-size: 14px;
    line-height: 14px;
}

.video_inner_text_small-text {
    font-size: 14px;
}

.uppercase {
    text-transform: uppercase;
    color: #fff;
}

.video_1280_col1 {
    width: 100%;
    padding-left: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video_1280_col2 {
    width: 70%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.video_1280_col3 {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -25px;
}

.wait {
    display: none;
}

.wait {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
}

.wait_title {
    width: 550px;
    padding: 10px;
}

.order_change {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 260px;
    margin: 0px 0px 10px 30px;
}

.contacts {
    font-family: PT Sans, sans-serif;
    color: #000;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 0 0px;
    width: 200px;
}

.map {
    min-width: 870px; 
    min-height: 470px
}

.wait_col1 {
    display: flex;
    flex-wrap: wrap;
    width: 73%;
}

.wait_col2 {
    width: 23%;
}

.arrow_hook:before{
    content: ''; 
    position: absolute; 
    top: 40%;
    left: 45%;
    transform-origin: center;
    border: 45px solid transparent;
    border-left: 60px solid #eec643;
}

.video_inner_text_small:before{
    content: '';
    position: absolute;
    bottom: 50px;
    left: 100px;
    transform-origin: center;
    border: 25px solid transparent;
    border-left: 40px solid #eec643;
}

.pre-lesson_bottom {
    display: none;
}

}

