@font-face {
    font-family: 'PT Sans';
    src: url('subset-PTSans-Bold.woff2') format('woff2'),
        url('subset-PTSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Prata';
    src: url('subset-Prata-Regular.woff2') format('woff2'),
        url('subset-Prata-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('subset-PTSans-Regular.woff2') format('woff2'),
        url('subset-PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('subset-PTSans-Italic.woff2') format('woff2'),
        url('subset-PTSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('subset-PTSans-BoldItalic.woff2') format('woff2'),
        url('subset-PTSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

h1 {
    font-family: prata, serif;
    color: #f9fcfc;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    margin: 0;
}

p {
    font-family: PT Sans, sans-serif;
    color: #f9fcfc;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

h3 {

  font-family: PT Sans;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

body {
    margin: 0px;
}

.wrapper {
    margin: 0 auto;
    width: 320px;
}

.header {
    margin-bottom: 90px;
}

.intro-block {
    background: url(../img/bg_main_320.jpg);
    background-repeat: no-repeat;
    margin-bottom: 33px;
}

.logo {
    margin: 24px 0px 0px 16px;
}

.headline {
    margin: 0px 0px 10px 17px;
}

.wewill {
    margin: 0px 0px 80px 17px;
    width: 200px;
}

.pre-lesson {
    background-color: #eec643;
    width: 288px;
    height: 60px;
    margin: 0px 0px 33px 17px;
    border: none;
}

.mus-grow {
    width: 290px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.mus-grow_title {
    color: #021a23;
    margin: 0px 0px 12px 0px;
}

.mus-grow_title::before, .mus-grow_title::after {
    content: "";
    display: inline-block;
    width: 228px; height: 1px;
    background-image: url(../img/Rectangle1.jpg);
    background-size: 100%;
}

.idols-singer {
    width: 288px;
    height: 144px;
    background: url(../img/idols-singer320.jpg);
    background-repeat: no-repeat;
    margin: 0px 0px 16px 0px;
}

.idols-guitar {
    width: 288px;
    height: 144px;
    background-image: url(../img/idols-guitar320.jpg);
    margin: 0px 0px 16px 0px;
}

.idols-piano {
    width: 212px;
    height: 144px;
    background-image: url(../img/idols-piano320.jpg);
    margin: 0px 0px 16px 0px;
}

.card-inner {
    width: 203px;
}

.card-text{
    padding: 31px 0px 0px 11px;
}

.everyway-btn {
    background-color: #eec643;
    width: 144px;
    height: 60px;
    margin: 0px 0px 0px 0px;
    position: relative;
    border: none;
    transform: rotate(-90deg);
    transform-origin: bottom;
    right: -4px;
    top: 12px;
}

.row_with_btn {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.everyway-text {
    color: #000;
    width: 115px;
    margin: 0px 0px 0px 14px;
    text-align: left; 
}

.temp {
    width: 290px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.temp_title {
    color: #021a23;
    margin: 0px 0px 12px 0px;
}

.temp_title::before, .temp_title::after {
    content: "";
    display: inline-block;
    width: 228px; height: 1px;
    background-image: url(../img/Rectangle1.jpg);
    background-size: 100%;
}

.crew {
    width: 288px;
    height: 144px;
    background: url(../img/advantages_card_img_1_320.jpg);
    background-repeat: no-repeat;
    margin: 0px 0px 16px 0px;
}

.result {
    width: 288px;
    height: 144px;
    background-image: url(../img/advantages_card_img_2_320.jpg);
    margin: 0px 0px 16px 0px;
}

.studio {
    width: 212px;
    height: 144px;
    background-image: url(../img/advantages_card_img_3_320.jpg);
    margin: 0px 0px 16px 0px;
}

.everyway-text_white {
    width: 115px;
    margin: 0px 0px 0px 14px;
    text-align: left; 
}

.wall {
    width: 290px;
    margin: 0 auto;
}

.wall_title {
    width: 150px;
    color: #021a23;
    margin: 0px 0px 12px 0px;
}

.wall_title::before, .wall_title::after {
    content: "";
    display: inline-block;
    width: 228px; height: 1px;
    background-image: url(../img/Rectangle1.jpg);
    background-size: 100%;
}

.wait {
    width: 290px;
    margin: 0 auto;
}

.wait_title {
    width: 150px;
    color: #021a23;
    margin: 0px 0px 12px 0px;
}

.wait_title::before, .wait_title::after {
    content: "";
    display: inline-block;
    width: 228px; height: 1px;
    background-image: url(../img/Rectangle1.jpg);
    background-size: 100%;
}