/** {
  box-sizing: border-box;
}
*/
@font-face {
    font-family: 'PT Sans';
    src: url('subset-PTSans-Bold.woff2') format('woff2'),
        url('subset-PTSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Prata';
    src: url('subset-Prata-Regular.woff2') format('woff2'),
        url('subset-Prata-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('subset-PTSans-Regular.woff2') format('woff2'),
        url('subset-PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('subset-PTSans-Italic.woff2') format('woff2'),
        url('subset-PTSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('subset-PTSans-BoldItalic.woff2') format('woff2'),
        url('subset-PTSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

h1 {
    font-family: prata, serif;
    color: #f9fcfc;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    margin: 0;
}

p {
    font-family: PT Sans, sans-serif;
    color: #f9fcfc;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

h3 {

  font-family: PT Sans;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

body {
    margin: 0px;
}

.wrapper {
    margin: 0 auto;
    width: 320px;
}

.header {
    margin-bottom: 90px;
}

.head_container_1280 {
    display: none;
}

.intro-block {
    background: url(../img/bg_main_320.jpg);
    background-repeat: no-repeat;
    margin-bottom: 33px;
}

.logo {
    margin: 24px 0px 0px 16px;
}

.logo_1280 {
    display: none;
}

.headline {
    margin: 0px 0px 10px 17px;
}

 .headline_1280 {
    display: none;
}

.wewill {
    margin: 0px 0px 80px 17px;
    width: 200px;
}

.pre-lesson {
    background-color: #eec643;
    width: 288px;
    height: 60px;
    margin: 0px 0px 33px 17px;
    border: none;
}

.mus-grow {
    width: 290px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.mus-grow_1280 {
    display: none;
}

.mus-grow_title {
    color: #021a23;
    margin: 0px 0px 12px 0px;
    width: 235px;
    border-top: 1px solid #eec643;
    border-bottom: 1px solid #eec643;
}

/*.mus-grow_title::before, .mus-grow_title::after {
    content: "";
    display: inline-block;
    width: 228px; height: 1px;
    background-image: url(../img/Rectangle1.jpg);
    background-size: 100%;
}*/

.idols-singer {
    width: 288px;
    height: 144px;
    background: url(../img/idols-singer320.jpg);
    background-repeat: no-repeat;
    margin: 0px 0px 16px 0px;
}

.idols-guitar {
    width: 288px;
    height: 144px;
    background-image: url(../img/idols-guitar320.jpg);
    margin: 0px 0px 16px 0px;
}

.idols-piano {
    width: 212px;
    height: 144px;
    background-image: url(../img/idols-piano320.jpg);
    margin: 0px 0px 16px 0px;
}

.card-inner {
    width: 203px;
}

.card-text{
    padding: 31px 0px 0px 11px;
}

.everyway-btn {
    background-color: #eec643;
    width: 144px;
    height: 60px;
    margin: 0px 0px 0px 0px;
    position: relative;
    border: none;
    transform: rotate(-90deg);
    transform-origin: bottom;
    right: -4px;
    top: 12px;
}

.row_with_btn {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.everyway-text {
    color: #000;
    width: 115px;
    margin: 0px 0px 0px 14px;
    text-align: left; 
}

.temp {
    width: 290px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.temp_title {
    color: #021a23;
    margin: 0px 0px 12px 0px;
    width: 235px;
    border-top: 1px solid #eec643;
    border-bottom: 1px solid #eec643;
}

/*.temp_title::before, .temp_title::after {
    content: "";
    display: inline-block;
    width: 228px; height: 1px;
    background-image: url(../img/Rectangle1.jpg);
    background-size: 100%;
}*/

.crew {
    width: 288px;
    height: 144px;
    background: url(../img/advantages_card_img_1_320.jpg);
    background-repeat: no-repeat;
    margin: 0px 0px 16px 0px;
}

.result {
    width: 288px;
    height: 144px;
    background-image: url(../img/advantages_card_img_2_320.jpg);
    margin: 0px 0px 16px 0px;
}

.studio {
    width: 212px;
    height: 144px;
    background-image: url(../img/advantages_card_img_3_320.jpg);
    margin: 0px 0px 16px 0px;
}

.everyway-text_white {
    width: 115px;
    margin: 0px 0px 0px 14px;
    text-align: left; 
}

.wall {
    width: 290px;
    margin: 0 auto;
}

.wall_title {
    width: 235px;
    color: #021a23;
    margin: 0px 0px 12px 0px;
    border-top: 1px solid #eec643;
    border-bottom: 1px solid #eec643;
}

/*.wall_title::before, .wall_title::after {
    content: "";
    display: inline-block;
    width: 228px; height: 1px;
    background-image: url(../img/Rectangle1.jpg);
    background-size: 100%;
}*/

.wait {
    width: 290px;
    margin: 0 auto;
}

.wait_title {
    width: 235px;
    color: #021a23;
    margin: 0px 0px 12px 0px;
    border-top: 1px solid #eec643;
    border-bottom: 1px solid #eec643;
}

/*.wait_title::before, .wait_title::after {
    content: "";
    display: inline-block;
    width: 228px; height: 1px;
    background-image: url(../img/Rectangle1.jpg);
    background-size: 100%;
}*/

/*===============CSS for 1280===============*/

@media (min-width: 1280px) { 

h1 {
    font-family: prata, serif;
    color: #f9fcfc;
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
}

h3 {

  font-family: PT Sans;
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

p {
    font-family: PT Sans, sans-serif;
    color: #f9fcfc;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
}

a {
    text-decoration: none;
    font-family: PT Sans, sans-serif;
    font-size: 16px;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
}

 .intro-block { 
    width: 1280px;
    min-height: 770px;
    background-image: url(../img/bg_main.jpg);
 }

 .header {
    display: inline-block;
    margin: 0px 0px 205px 0px;
 }

 .head_container_1280 {
    display: inline-flex;
    margin: 30px 0px 0px 425px;
}

.headline {
    display: none;
}

.headline_1280 {
    width: 700px;
    display: inline-block;
    font-size: 55px;
    line-height: 55px;
    margin: 0px 0px 20px 55px;
}

.logo_1280 {
    margin: 33px 0px 0px 53px;
}

.logo {
    display: none;
}

.main_nav { 
    margin-left: 220px;
    display: flex;  
    align-items: center;
}

.main_nav_link {
    letter-spacing: 0em;
    font-weight: normal;
}

.main_nav_list {
    /*width:    40%;*/      
    display: flex;
    justify-content: space-between;
    list-style: none;       
    
}
.main_nav_list_item {
    margin-right: 28px; 
}

.main_nav_list_item  a{
    text-decoration: none;    
    color: #000;
}

.wewill {
    margin: 0px 0px 80px 55px;
    width: 430px;
}

.pre-lesson {
    margin: 0px 0px 0px 55px;
    display: none;
}

.mus-grow {
    display: none;
}

.mus-grow_1280 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 1170px;
    min-height: 570px;
    justify-content: space-around;
    margin: 0 0 0 120px;
}

.mus-grow_title {
    color: #021a23;
    width: 553px;
    border-top: 1px solid #eec643;
    border-bottom: 1px solid #eec643;
    transform: rotate(-90deg);
    transform-origin: left top;
    position: absolute;
    bottom: -640px;
    margin: 0 0 8px -50px;
}

.col2  {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.col3 {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    width: 55%;
}

.idols-guitar {
    width: 100%;
    height: 47%;
    background-image: url(../img/idols-guitar1280.jpg);
    margin: 0px 0px 0px 0px;
}

.idols-piano {
    width: 100%;
    height: 47%;
    background-image: url(../img/idols-piano1280.jpg);
    margin: 0px 0px 0px 0px;
}

.idols-singer {
    width: 100%;
    height: 47%;
    background: url(../img/idols-singer1280.jpg);
    background-repeat: no-repeat;
    margin: 0px 0px 0px 0px;
}

.row_with_btn {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    width: 84%;
    height: 47%;
}


.lessons {
    width: 50%;
    height: 100%;
    background-image: url(../img/lessons1280.jpg);
}

.card-inner {
    margin: 10px 0 0 31px;
    width: 250px;
}

.card-text{
    padding: 0px 0px 0px 0px;
}

.h3_guitar {
    margin-bottom: 10px;
}

.p_guitar {
    margin-bottom: 45px;
}

.everyway-btn {
    background-color: #eec643;
    margin: 0px 0px 0px 0px;
    position: relative;
    border: none;
    transform: rotate(0deg);
    transform-origin: bottom;
    right: -29px;
    top: 0px;
    width: 50%;
    height: 100%;
}


.everyway-text {
    color: #000;
    width: 115px;
    margin: 0px 0px 0px 14px;
    text-align: left; 
}

}